html {
  height: 100%;
}
body {
  background: #98a5b5; /* #; 483628*/
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size: 16px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body > * {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.description {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0%);
  background: rgba(0, 0, 0, .4);
  border-radius: 10px;
  color: #FFF;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  padding: 10px;
  z-index: 100;
}
.textinput{
  background: #483628;
  border: 1px solid #FFF;
  border-radius: 6px;
  color: #FFF;
  font-size: 14px;
  padding: 5px;
  position: absolute;
  top: 20px;
  left: 50%;
  text-align: center;
  transform: translate( -50%, -50%);
  width: 150px;
}
.perspective,
.container,
.map {
  position: absolute;
  transform-style: preserve-3d;
  transition: 100ms;
}
.perspective {
  left: 50%;
  top: 40%;
}
.container {
  left: 50%;
  top: 40%;
}
.map{
  left: 50%;
  top: 70%;
}
